{% extends "main/base.html" %}
{% load static %} 
{% block title %}Магазин | POLOS{% endblock %}

{% block content %}
<div class="shop-container">
  <h1>Магазин</h1>

  <div class="categories">
    <a href="{% url 'product_list' %}">Все категории</a>
    {% for category in categories %}
      <a href="?category={{ category.id }}" {% if selected_category == category.id %}class="active"{% endif %}>
        {{ category.name }}
      </a>
    {% endfor %}
  </div>

  <div class="product-grid">
    {% for product in products %}
      <div class="product-card">

        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
          <img src="{% static 'img/notfound.jpg' %}" alt="Изображение не найдено">
        {% endif %}

        <h3>{{ product.name }}</h3>
        <p>{{ product.descriptions }}</p>

        {% if product.discount > 0 %}
          <p>
            <span class="old-price" style="text-decoration: line-through; color: gray;">
              {{ product.price }}₽
            </span><br>
            <strong class="discount-price" style="color: red;">
              {{ product.discount_price }}₽
            </strong>
          </p>
        {% else %}
          <strong>{{ product.price }}₽</strong>
        {% endif %}

        <button>В корзину</button>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
