{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Polos - Retro Futurism{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <div class="taskbar">
    <div id="startButton" class="start-button">Пуск</div>
    <div class="taskbar-right">
      <div id="clock-taskbar"></div>
    </div>
  </div>


  <div id="startMenu" class="start-menu">
    <ul>
      <li onclick="closeAllWindows()">На рабочий стол</li>

    </ul>
  </div>

  <script src="{% static 'js/clock.js' %}"></script>  
  <script src="{% static 'js/startmenu.js' %}"></script>  
</body>
</html>
