{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>{% block title %}Polos - Retro Futurism{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <div class="taskbar">
    <div id="startButton" class="start-button">Пуск</div>
    <div class="taskbar-right">
      <div id="clock-taskbar"></div>
    </div>
  </div>


  <div id="startMenu" class="start-menu">
    <ul>
      <li><a href="{% url 'main:desktop' %}
">На рабочий стол</a></li>  
    </ul>
  </div>

  <script src="{% static 'js/clock.js' %}"></script>  
  <script src="{% static 'js/startmenu.js' %}"></script>  
  {% block extra_js %}{% endblock %}
</body>
</html>
