:root {
    --clr-primary: #C2F213;
    --clr-bg: #000;
    --clr-text: #fff;
    --clr-secondary: #888;
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url("/static/cursors/custom.cur"), auto;
}

body {
  font-family: "Pixelated MS Sans Serif", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-text);
  min-height: 100vh;
}


.desktop {
  position: relative;
  height: 100vh;
  background: url('/static/wallpaper1.jpg') center/cover no-repeat;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;

}

/* Базовый стиль иконок */
.icon {
  position: absolute; 
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  user-select: none; 
}

.icon img {
  width: 96px;
  height: 96px;
  image-rendering: pixelated;
}

.icon span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Большая иконка магазина по центру */
.icon.big-icon {
  width: 360px;
  height: 360px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon.big-icon img {
  width: 256px;
  height: 256px;
  margin-top: 40px;
}

.icon.big-icon span {
  font-size: 1.5rem;
}

/* Позиции для иконок по углам */
.icon.top-left {
  top: 20px;
  left: 20px;
}

.icon.top-right {
  top: 20px;
  right: 20px;
}

.icon.bottom-left {
  bottom: 52px;
  left: 20px;
}

.icon.bottom-right {
  bottom: 52px;
  right: 20px;
}



.win95-window {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 300px;
  background: #c0c0c0;
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #333;
  z-index: 10;
  display: none;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  user-select: none;
}

.win95-titlebar {
  background: #000080;
  color: white;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win95-content {
  padding: 1rem;
  background: white;
  border-top: 2px inset #fff;
  border-left: 2px inset #fff;
  color: black;
}

/* Кнопка без скруглений */
.button-image {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.button-image img {
  display: block;
  width: 100px;
  height: auto;
  image-rendering: pixelated;
}

/* Часы */
.clock {
  position: fixed;
  bottom: 8px;
  right: 8px;
  background: black;
  color: var(--clr-secondary);
  padding: 4px 8px;
  font-size: 0.85rem;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  border: 2px outset white;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-bottom: 2px solid #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  padding: 0 8px;
  z-index: 100;
}

.start-button {
  background: #c0c0c0;
  border: 2px outset #fff;
  padding: 2px 12px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.start-button:active {
  border: 2px inset #000;
}

.taskbar-right {
  color: black;
  font-size: 14px;
}

/* Запрет выделения текста на рабочем столе и окнах */
.desktop, .win95-window {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.desktop {
  position: relative;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  overflow: hidden;

}

.wallpaper-layer {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; 
  z-index: 0;
  opacity: 0;
}

.wallpaper-layer.visible {
  opacity: 1;
}


.icon, .win95-window {
  position: relative;
  z-index: 1;
}

.start-menu {
  position: fixed;
  bottom: 32px;
  left: 8px;
  width: 200px;
  background: #c0c0c0;
  border: 2px outset white;
  box-shadow: 4px 4px 0 #333;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  display: none;
  z-index: 1000;
}

.start-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.start-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.start-menu li:hover {
  background-color: #000080;
  color: white;
}


.shop-container {
  padding-bottom: 40px; 
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
  background: #c0c0c0;
  box-sizing: border-box;
  border: 4px solid black; /* внешняя черная рамка */
  outline: 8px solid #744785; /* внутренняя рамка */
  outline-offset: -12px; /* сдвигаем внутрь */
}

.product-card {
  flex: 0 0 calc((100% - 40px) / 5);
  max-width: 260px;
  height: 320px;
  box-sizing: border-box;
  padding: 12px;
  background: #e0e0e0;
  border: 2px solid #000;
  box-shadow:
    2px 2px 0 #fff inset,
    -2px -2px 0 #808080 inset;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 4px;
}

.product-card h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000;
  text-align: center;
  margin-bottom: 6px;
}

.product-card p {
  margin: 6px 0 8px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #744785;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-weight: normal;
  font-size: 1rem;
}

.discount-price {
  color: #744785;
  font-weight: bold;
  font-size: 1.3rem;
} 

button {
  margin-top: auto;
  margin-bottom: 6px;
  padding: 6px 10px;
  border: 2px solid #000;
  background-color: #c0c0c0;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #808080;
  font-size: 0.9rem;
  cursor: pointer;
}

.open-category-window {
  padding: 6px 12px;
  border: 2px solid #000;
  background: #c0c0c0;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #808080;
  cursor: pointer;
  margin-bottom: 10px;
}

.category-window {
  width: 250px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1000;
}

.category-window .win95-content ul {
  list-style: none;
  padding-left: 0;
}

.category-window .win95-content li {
  margin: 6px 0;
}

.categories {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 10px;
  border-bottom: 2px solid #744785;
}

.category-window-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin: 20px 0;
}

.open-category-window {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ececec;
  border: 2px solid black;
  box-shadow: 2px 2px 0px #744785;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.open-category-window:hover {
  transform: scale(1.05);
  background-color: #f5f5f5;
}

.win95-header {
  background: #001ad1;
  color: white;
  font-weight: bold;
  font-family: 'MS Sans Serif', Tahoma, sans-serif;
  font-size: 1.5rem;
  padding: 6px 12px;
  border: 2px solid black;
  box-shadow:
    inset 1px 1px 0 #fff,
    inset -1px -1px 0 #000080;
  user-select: none;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 1px 0 #000080;
}

  
  
  
  